/* added open sans font */
*{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}
.text-primary{
  color: #fd6e0a;
}
.btn-primary{
  background-color:#fd6e0a;
  border-radius: 5px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
/* start nav section area */
.nav-title{
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
nav > ul{
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  margin-right: 50px;
}
nav a{
  text-decoration: none;
  color: #474747;
}
/* style header area */
.header{
  background-color: #fff8f3
}
/* style header banner area */
.banner{
  display: flex;
  align-items: center;
  padding:30px 30px 30px 150px;
}
.banner .profile-photo{
  width: 500px;
}